
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!------------------------------ About------------------------------>

<div class="about">
    <div class="about-container">
        <h2 class="title">The History of Flower</h2>
        <div class="row">
            <div class="col-2 zoom-item">
                <img src="~/Assets/images/history-of-flowers-cover-img.png" alt="Nike History" style="border-radius:5px">
            </div>

            <div class="col-2">
                <p class="paragraph p1">
                    The history of flowers is a captivating journey through time, transcending cultures and spanning millennia. Flowers have held a special place in human history, symbolizing beauty and elegance while playing significant roles in various aspects of life.

                    Flowers' historical use dates back to ancient civilizations. In Egypt, they were offered to deities and used in burial rituals. In ancient Greece, intricate garlands and wreaths were presented as offerings to gods. The rose symbolized love through its association with Aphrodite, the goddess of love.

                    During the Roman Empire, flowers adorned homes, religious rituals, and elaborate gardens. Romans developed the "language of flowers," where different blooms carried specific meanings and conveyed messages, emotions, or sentiments.
                </p>
            </div>
        </div>

        <h2 class="title title-about">Timeless Imprints and Spiritual Beauty</h2>
        <div class="row">

            <div class="col-2">
                <p class="paragraph p2">
                    Flowers, for thousands of years, have existed as eternal symbols of beauty and spiritual significance. They express love, gratitude, and emotions in a beautiful and profound manner. Exploring the history of flowers is like a miraculous journey, from their use in ancient Egyptian deity offerings to the intricate language of flowers during the Victorian era.
                </p>
            </div>

            <div class="col-2 zoom-item">
                <img src="~/Assets/images/aboutf.png" alt="Nike Name" style="border-radius:5px">
            </div>
        </div>

        <h2 class="title title-about">From Emotional Yardstick to Flourishing in Modern Life</h2>
        <div class="row">

            <div class="col">
                <p class="paragraph p3">
                    In the 21st century, flowers remain an integral part of human life. They symbolize love and gratitude, inspire art and nature, and are a significant source of income in the flower industry. Memories of flowers throughout history still live on in each bloom, and modern bouquets continue to convey messages of beauty and emotions to people worldwide.<br />
                    Emotional well-being encompasses a wide range of factors, including self-awareness, self-regulation, empathy, and resilience. It is about understanding and managing our emotions effectively, as well as being able to connect with and understand the emotions of others. This shift in perspective has been driven by a growing recognition of the impact our emotions have on our mental health, relationships, and overall quality of life. <br />
                    In the fast-paced and ever-evolving modern world, our emotional well-being has become a crucial yardstick for measuring our overall success and happiness. Gone are the days when material possessions and external achievements were the sole indicators of a fulfilling life. Today, the focus has shifted towards a more holistic approach, where emotional flourishing takes center stage.
                </p>
            </div>
        </div>
    </div>
    <div class="slogan">
        <h3>Fresh Flowers - Blooming Emotions - Spreading Love</h3>
    </div>
</div>

