
@{
    ViewBag.Title = "ContactSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align:center; margin-top: 400px">
    <h2>Cảm ơn bạn đã góp ý. Contact của bạn đã được ghi nhận.</h2>
    <a href="/Home/Contact" class="btn btn-add-to-cart">Go back</a>
</div>

