
@{
    ViewBag.Title = "IndexBG";
    Layout = "~/Views/Shared/_subLayout.cshtml";
}

<div class="header">
    <div class="container container-index" style="padding:0px">
        <div class="row heading-row">
            <div class="col-2">
                <h1>BLOSSOMING EMOTIONS,<br>PETAL BY PETAL</h1>
                <p>
                    From Greek Mythology to Global Dominance: The Inspiring Journey of Nike and the Pursuit of
                    Victory
                </p>
                <a href="/Products/ListProducts" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2 sneaker-jordan" style="transform: rotate(0deg);">
                <img style="padding:0px;" src="~/Assets/images/flower.jpg">
            </div>
        </div>
    </div>
</div>

