
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align:center; margin-top: 400px">
    <h2>Đơn Hàng đang được xử lí</h2>
    <p>Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được giao trong vòng 14 ngày đặt.</p>
    <a href="/Cart/Cart" class="btn btn-add-to-cart">Go back</a>
</div>

