@model IEnumerable<DoAn.Models.Hoa>
@{
    ViewBag.Title = "DisplayTopProducts";
    Layout = "~/Views/Shared/_subLayout.cshtml";
}

<!------------------------------ featured Products------------------------------>
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <a href="@Url.Action("Details", new { id = item.MaSanPham})"><img src="~/Assets/images/@item.HinhAnh"></a>
                <h4>@item.TenSanPham</h4>
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>@item.Gia</p>
            </div>
        }
    </div>
    <div style="display: flexbox; align-items: center; justify-content: center; text-align: center;">
        <a href="/Products/ListProducts" class="btn">See all products &#8594;</a>
    </div>
</div>